.carrito-container {
  position: relative; 
  width: 100%;
  padding: 12% 0px 0px 10%;
  color: rgb(255, 255, 255);
  font-size: 20px;
  border-radius: 8px;
  height: 100%;
}

.productosCarrito {
  display: flex;
  margin-bottom: 30px;
  background-color: rgb(56, 56, 56);
  border-radius: 8px;
  width: 70%;
  height: auto;
  border-radius: 10px;
}

.productosCarrito div h3 {
  padding-left: 1vw;
}

.productosCarrito .productosCarritoCantidad * {
  margin: 0.5vw;
}

.imagenes {
  width: 15em;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}

.productosCarrito .botonEliminar{
  justify-content: end;
  align-items: end;
}

.productosCarritoPrecio{
  padding: 10px;
  width: 100%;
}

.productosCarritoPrecio span{
  padding: 10px;
  width: 100%;
}

.contenedorIzquierdo {
  float: left;
  width: calc(70% - 20px);
}

.contenedorDerecho {
  position: fixed;
  top: 10.5vw;
  right: 10%;
  width: 25%;
  overflow-y: auto;
  background-color: rgb(56, 56, 56);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.resumen{
  padding-left: 5%;
  padding-right: 5%;
  margin: 0px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  opacity: 0.5;
}

.contenedorDerechoContenido {
  background-color: rgba(85, 85, 85, 0.966);
  border-radius: 10px;
  padding-top: 10px;
}

.tituloContenedorDerecho{
  padding-left: 20px;
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.contenedorDerechoTitulo{
  position: fixed;
  top: 12%;
  right: 28%;
}

.modificar-cantidad-btn {
  background-color: #ddd;
  border: none;
  border-radius: 10px;
  padding: 5px 8px;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  transition: 0.3s;
}

.modificar-cantidad-btn:hover {
  transform: scale(1.1);
}


.container-center {
  display: flex;
  align-items: center;
  top: 20%;
  height: 100vh;
}

.botonEliminar{
  background-color: rgb(213, 28, 28);
  padding: 10px;
  border-radius: 5px;
  color: white;
  transition: 0.3s;
}

.botonEliminar:hover { 
  background-color: red;
  color: white;
  transform: scale(1.1);
}

.totalCompra .botonProcesarCompra {
  background-color: #00ad93;
  padding: 15px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  transition: 0.3s;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}

.botonProcesarCompra:hover { 
  background-color: rgb(0, 255, 242);
  transform: scale(1.05);
}

.totalCompra {
  padding-top: 5% 0% 0% 5%;
  margin: 10px;
}



@media (max-width: 1450px) {
  .carrito-container {
    padding: 0px;
  }

  .contenedorIzquierdo,
  .contenedorDerecho {
    margin-top: 100px;
    float: none;
    width: 70%;
    display: column;
    margin: auto;
    margin-top: 150px;
  }

  .productosCarritoImagen {
    width: 400px;
    height: 100%;
  }

  .productosCarrito {
    min-width: 100%;
  }

  .productosCarritoImagen img{
    width: 100%;
    height: 100%;
  }

  .contenedorDerecho {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 20px;
  }

  .contenedorDerecho h2 {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 20px;
  }
  

  .productosCarrito div h3 {
    font-size: 18px;
  }

  .productosCarrito {
    width: 95%;
    height: 150px;
  }

  .productosCarritoImagen img {
    width: 100%;
    height: 100%;
    object-fit: cover contain;
  }

  .productosCarrito .productosCarritoCantidad  *{
    margin: 1vw;
  }


}

@media (max-width: 800px) {
  .contenedorIzquierdo,
  .contenedorDerecho {
    margin-top: 120px;
    float: none;
    width: 95%;
  }
}

@media (max-width: 560px) {
  .carrito-container {
    margin-top: 150px;
  }
  .contenedorIzquierdo{
    float: none;
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }

  .contenedorDerecho {
    float: none;
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }

  .productosCarrito {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .productosCarritoImagen {
    width: 100%;
    height: auto;
  }
  .productosCarritoImagen img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
  }
  .productosCarritoPrecio {
    width: 100%;
    padding: 0px;
    text-align: center;
  }
  .productosCarrito div h3 {
    font-size: 24px;
    margin-top: 10px;
  }
  .productosCarrito .productosCarritoCantidad {
    margin: 10px 0;
  }
  
}

@media (max-width: 500px) {
  .contenedorDerecho {
    padding: 10px;
  }
  .productosCarritoImagen {
    width: 100%;
  }
  .productosCarritoImagen img {
    width: 100%;
    height: auto;
  }
  .productosCarrito {
    flex-direction: column;
    align-items: center;
  }
  .productosCarritoPrecio {
    text-align: center;
  }

  .modificar-cantidad-btn {
    margin: 0 5px;
  }
  .contenedorDerecho h2 {
    padding-left: 10px;
  }
  .contenedorDerechoContenido {
    padding: 10px;
  }
  .totalCompra {
    text-align: center;
  }


}
