.carrito-container {
  position: relative; 
  width: 100%;
  padding: 12% 0px 0px 10%;
  color: rgb(255, 255, 255);
  font-size: 20px;
  border-radius: 8px;
  height: 100%;
}

.productosCarrito {
  display: flex;
  margin-bottom: 30px;
  background-color: rgb(56, 56, 56);
  border-radius: 8px;
  width: 70%;
  height: 9em;
  border-radius: 10px;

}

.imagenes {
  width: 15em;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}

.productosCarritoInfo button{
  margin-top: 110px;
  vertical-align: bottom;
  margin-right: 20px;
}

.productosCarritoPrecio{
  padding: 10px;
  width: 50%;
}

.productosCarritoPrecio span{
  padding: 10px;
  width: 50%;
}

.contenedorIzquierdo {
  float: left;
  width: calc(70% - 20px);
}

.contenedorDerecho {
  position: fixed;
  top: 20%;
  right: 10%;
  width: 25%;
  overflow-y: auto;
  background-color: rgb(56, 56, 56);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.resumen{
  padding-left: 5%;
  padding-right: 5%;
  margin: 0px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  opacity: 0.5;
}

.contenedorDerechoContenido {
  background-color: rgba(85, 85, 85, 0.966);
  border-radius: 10px;
  padding-top: 10px;
}

.tituloContenedorDerecho{
  padding-left: 20px;
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.contenedorDerechoTitulo{
  position: fixed;
  top: 12%;
  right: 28%;
}

.modificar-cantidad-btn {
  background-color: #ddd;
  border: none;
  border-radius: 10px;
  padding: 5px 8px;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  transition: 0.3s;
}

.modificar-cantidad-btn:hover {
  transform: scale(1.1);
}


.container-center {
  display: flex;
  align-items: center;
  top: 20%;
  height: 100vh;
}

.botonEliminar{
  background-color: rgb(213, 28, 28);
  padding: 10px;
  border-radius: 5px;
  color: white;
  transition: 0.3s;
}

.botonEliminar:hover { 
  background-color: red;
  color: white;
  transform: scale(1.1);
}

.totalCompra .botonProcesarCompra {
  background-color: #00ad93;
  padding: 15px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  transition: 0.3s;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}

.botonProcesarCompra:hover { 
  background-color: rgb(0, 255, 242);
  transform: scale(1.05);
}

.totalCompra {
  padding-top: 5% 0% 0% 5%;
  margin: 10px;
}

