.producto-container {
    position: relative;
    display: inline-flex;
    justify-content: center;
    width: 90%;
    max-width: 390px;
    height: auto;
    margin: 2.5%;
    border: 2px solid rgb(64, 64, 64);
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s; 
}

.producto-container:hover {
    transform: scale(1.05);
}

.producto-image {
    display: block;
    width: 100%;
    object-fit: cover;
}

.producto-info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    width: calc(100% - 20px);
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.producto-info > .titulo {
    margin-top: 1%;
}

.producto-info > .precio {
    vertical-align: middle;
    font-size: 20px;
}