.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container .logo {
    width: 90%;
    margin-bottom: 20px;
    transition: 0.3s;
}


.login-form {
    position: relative;
    padding: 20px;
    width: 18%;
    color: #d5d5d5;
    display: flex;
    flex-direction: column;
    border: 2px solid #1a1a1a;
    border-radius: 20px;
    background-color: #333232;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.form-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 10px;
    height: 45px;
}

.imgLogin {
    width: 15%;
    height: 100%;
    margin: 0px;
    background-color: #00ad93;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0 0 5px ;
}

.imgLogin img {
    width: 30px;
    margin: auto;
    height: 30px;
    background-color: #00ad93;
    object-fit: cover;
}


.login-form .form-group input {
    width: 85%;
    padding: 10px;
    border-radius: 0px;
    background-color: #b3aeae;
    border: none;
    outline: none; 
    border-radius: 0 5px 5px 0;
}

.login-form button {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: gray;
    transition: 0.3s;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 15px;
    border: 0px;
}

.login-form button:hover {
    background-color: #24ffba;
    scale: 1.02;
}

.login-form .form-group.error input {
    border-color: red;
}

.error-indicator {
    color: red;
    margin-left: 5px;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.login-form .form-group input {
    border: 2px solid transparent;
  }

.login-form .form-group input:focus {
    border: 2px solid #00ad93;
}

.login-form button:not([disabled]) {
    background-color: #00ad93;
    transform: scale(1.02);
}


.login-form button:not([disabled]):hover {
    background-color: #24ffba;
    transform: scale(1.02);
}

.login-form button[disabled]:hover {
    background-color: gray;
    transform: none;
    scale: 1;
    cursor: not-allowed;
}

  
.login-form .form-group.error .imgLogin{
    background-color: red;
  }
  
  .login-form .form-group.error input {
    border-color: red;
  }
  
@media screen and (max-width: 1168px) {
    .login-form {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .login-form {
        width: 88%;
        height: 100%;
        border-radius: 0px;
        padding-top: 15vw;
        overflow: auto;
    }

    .logo {
        width: 80%;
    }
}