.eliminarUsuario-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.eliminarUsuario-container form {
  min-width: 100%;
}

.eliminarUsuario-container p {
  text-align: center;
}

.eliminarUsuario-container label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  text-align: center;
}

.eliminarUsuario-container input[type="text"] {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #2c2c2c;
}

.eliminarUsuario-container input[type="text"]:focus {
  outline: 2px solid #00ad93;
}

.eliminarUsuario-container button {
  width: 100%;
  padding: 10px;
  background-color: #00ad93;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.eliminarUsuario-container button:hover {
  background-color: #04875d;
}

.error-message {
  color: #ff0000;
  margin-top: 20px;
  text-align: center;
}

.confirmacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: #212121;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.confirmacion p {
  color: #ffffff;
  text-align: center;
  margin: 5px 0;
  font-size: 16px;
}

.confirmacion button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #00ad93;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  color: #ffffff;
}

.confirmacion button:hover {
  background-color: #04875d;
}

