.user-container {
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    justify-content: center;
    text-align: center;
  }

  .listaUsuariosContainer h2, .listaUsuariosContainer p{
      text-align: center;
  }
  
  .user-image {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    object-fit: cover;
  }

  .user-image:hover {
    box-shadow: #00ad93 0 0 10px;
    border: #24ffba 2px solid;
  }
  
  .user-details {
    flex-grow: 1;
    margin: auto 10px;
    
  }
  
  .user-details p {
    line-height: 1.5;
    text-overflow: ellipsis;
    white-space: nowrap;

  }
  

  