.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.modal .modal-content {
    background-color: #1a1a1a;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow-y: auto;
    max-height: 80%;
    color: #bebebe;
}

.modal .modal-content button {
    margin-top: 20px;
    background-color: white;
    color: #1a1a1a;
}

.modal .modal-content button:hover {
    margin-top: 20px;
    background-color: #00AD93;
    color: white ;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #bebebe;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: red;
}

.modal h2 {
    margin-top: 0;
    color: #bebebe;
}

.modal .modal-content .factura-item {
    background-color: #3c3c3c;
    border: 1px solid #1a1a1a;
    border-radius: 8px;
    margin: 20px 0;
    padding: 15px;
    width: 100%;
    max-width: 750px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.factura-item:hover {
    transform: translateY(-5px);
}

.factura-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3c3c3c;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
    border-radius: 8px 8px 0 0;
}

.datosFacturas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
    border-radius: 8px 8px 0 0;
}

.factura-header span {
    margin-right: 10px;
    font-weight: 600;
    color: #d5d5d5;
}

.factura-header span:last-child {
    margin-right: 0;
}

.producto {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.producto:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.producto-detalle {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    padding: 10px;
    background-color: #3c3c3c;
    border: 1px solid #dddddd;
    border-radius: 8px;
    margin: 10px 0;
}

.producto-imagen {
    max-width: 80px;
    max-height: 80px;
    margin-right: 20px;
    border-radius: 8px;
}

.producto-detalle p {
    margin: 0;
    color: #bebebe;
}

.producto-detalle p strong {
    font-weight: 600;
}

.productos h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #bebebe;
}

.producto-detalle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    background-color: #3c3c3c;
    border: 1px solid #dddddd;
    border-radius: 8px;
    margin: 10px 0;
}

.producto-imagen {
    max-width: 80px;
    max-height: 80px;
    margin-right: 20px;
    border-radius: 8px;
}

.producto-detalle p {
    margin: 0;
    color: #bebebe;
    flex: 1; 
}

.producto-detalle p strong {
    font-weight: 600;
    flex: 1;
}

.producto-detalle > * {
    margin-right: 10px;
}

.producto-detalle > *:last-child {
    margin-right: 0;
}