header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding-left: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  transition: background-color 0.3s, height 0.3s;
  z-index: 1000;
  margin: 0;
}

.infoUser {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 15vw;
}

.cesta {
  width: 40%;
  position: relative;
  margin-right: 100%;
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 10%;
  cursor: pointer;
}

header h1 {
  color: white;
}

header .logo {
  width: 150px;
  border-radius: 20px;
  margin-left: 10vw;
}

header div div img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 15%;
  object-fit: cover;
  border: 2px solid transparent;
  transition: transform 0.3s;
}

header div div img:hover {
  transform: scale(1.1);
}

.cesta {
  width: 40%;
  position: relative;
}

.cesta img:hover {
  filter: drop-shadow(0 0 10px aqua);
}

.carrito-count {
  position: absolute;
  top: 60%;
  right: -1vw;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f2f2f2;
  color: black;
  padding: 3px;
  font-size: 12px;
  font-weight: 900;
  border: 2px solid rgb(84, 84, 84);
  transition: 0.3s;
}

.carrito-count span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: -50%;
  background-color: white;
  border-radius: 10px;
}

.dropdown-menu button {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: #ffffff;
  font-weight: 900;
  margin: 0;
  border: none;
  background-color: red;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
}

.dropdown-menu a {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-decoration: none;
  color: #333;
  text-align: center;
  margin: auto;
  border-bottom: 1px solid black; 
  font-weight: 900;
}

.dropdown-menu button:hover {
  background-color: rgb(139, 3, 3);
  color: white;
}

.dropdown-menu a:hover {
  color: aqua;
}
