header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo inicial con transparencia */
    margin: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100px; /* Altura original del encabezado */
    transition: background-color 0.3s, height 0.3s; /* Transición suave para cambios en el color de fondo y altura */
    z-index: 1000;
    justify-content: space-between;
}

header div {
    margin-right: 3%;
    display: flex;
    width: 15%;
}

header div div {
    width: 100%;
}

header h1 {
    color: white;
}
