header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  transition: background-color 0.3s, height 0.3s;
  z-index: 1000;
  margin: 0;
}

.search-bar-container {
  transition: width 0.3s, padding 0.3s;
}

.search-bar-container.large .barraBusqueda input{
  width: 100%;
  padding: 0 20px;
  height: 20px;
}

.search-bar-container.small .barraBusqueda input {
  width: 100%;
  padding: 0 20px;
  height: 20px;
}

.infoUser {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cesta {
  width: 50%;
  position: relative;
}

.user-profile {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  padding-right: 15vw;
  padding-left: 100px;
  
}

header h1 {
  color: white;
}

header .logo {
  width: 250px;
  border-radius: 20px;
  padding-left: 15vw;
}

header div div img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid transparent;
  transition: transform 0.3s;
}

header div div img:hover {
  transform: scale(1.1);
}

.cesta {
  width: 10%;
  position: relative;
}

.cesta img:hover {
  filter: drop-shadow(0 0 10px #00ad93);
}

.carrito-count {
  position: absolute;
  top: 60%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f2f2f2;
  justify-content: center;
  align-items: center;
  display: flex;
  color: black;
  padding: 3px;
  font-size: 12px;
  font-weight: 900;
  border: 2px solid rgb(84, 84, 84);
  transition: 0.3s;
}

.carrito-count span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dropdown-menu, .dropdown-menu-admin {
  position: absolute;
  top: 100%;
  right: 15%;
  background-color: #2e2e2e;
  border-radius: 10px;
}

.dropdown-menu button , .dropdown-menu-admin button{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: #ffffff;
  font-weight: 900;
  margin: 0;
  border: none;
  background-color: red;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
}

.dropdown-menu a , .dropdown-menu-admin a{
  font-size: 14px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-decoration: none;
  color: #d5d5d5;
  text-align: center;
  margin: auto;
  border-bottom: 1px solid black; 
  font-weight: 900;
}

.dropdown-menu .primerBoton  {
  position: relative;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  text-decoration: none;
  color: #d5d5d5;
  text-align: center;
  margin: auto;
  font-weight: 900;
  background-color: #2e2e2e;
}

.dropdown-menu button:hover , .dropdown-menu-admin button:hover{
  background-color: rgb(139, 3, 3);
  color: white;
}

.dropdown-menu a:hover , .dropdown-menu-admin a:hover{
  color: #00ad93;
}

.dropdown-menu .primerBoton:hover , .dropdown-menu-admin .primerBoton:hover{
  color: #00ad93;
  background-color: #2e2e2e;
}


 .dropdown-menu-admin {
  right: 15.5%;

 }

.header-hidden {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.header-visible {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.user-profile {
  color: #00ad93;
  transition: 0.3s;
}

.user-profile img {
  border: 2px solid #464D56;
}

.user-profile img:hover {
  box-shadow: #00ad93 0 0 10px;
  border: #24ffba 2px solid;
}

.linkAdmin {
  width: 100%;
  color: #24ffba;
}

@media screen and (max-width: 1300px) {
  header .logo {
    margin: 0;
    padding: 20px;
  }

  .only-user {
    width: 80px;
  }


  .user-profile {
    padding-left: 50px;
    padding-right: 20px;
  }

  .dropdown-menu, .dropdown-menu-admin {
    width: 100%;
    display: flex;
    flex-direction: row;
    right: 0px;
  }


  header {
    height: 80px;
  }

  header .barraBusqueda {
    position: relative;
    justify-content: center;
    margin: auto;
    height: auto;
    margin-top: 40px;
    width: 100%;
    margin-left: -10px;
  }

  .cesta {
    width: 60px;
    margin-left: 20px;
  }

  .cesta img {
    width: 60px;
    height: 60px;
  }

  .dropdown-menu div{
    width: 33.33%;
    
  }

  .dropdown-menu-admin div{
    width: 100%;
  }

  .dropdown-menu button, .dropdown-menu-admin button{
    width: 100%;
    border-radius: 0%;
    justify-content: center;
    align-items: center;
  }

  .user-profile {
    padding: 20% 50px 20% 20%;
  }

}

@media screen and (max-width: 780px) {
  header .logo {
    width: 60px;
  }

  .only-user {
    width: 70px;
    height: 50px;
  }
 
  header {
    height: 80px;
  }

  header .barraBusqueda {
    position: relative;
    justify-content: center;
    margin: auto;
    height: auto;
    margin-top: 40px;
    width: 80%;
    margin-left: -10px;
  }

  .cesta {
    width: 60px;
    margin-left: 20px;
  }

  .cesta img {
    width: 60px;
    height: 60px;
  }

  .dropdown-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 0%;
  }

  .dropdown-menu div {
    width: 33.33%;
    
  }

  .dropdown-menu button {
    width: 100%;
    border-radius: 0%;
    justify-content: center;
    align-items: center;
  }

  .user-profile {
    padding: 20% 50px 20% 20%;
  }
}

@media screen and (max-width: 500px) {
  header .logo {
    width: 50px;
    padding: 10px;
  }

  .linkAdmin {
   font-size: 14px;
  }

  header .barraBusqueda {
   height: 30px;
  }

  .cesta {
    width: 50px;
    margin: 0%;
  }

  .cesta img {
    width: 40px;
    height: 40px;
  }

  .user-profile {
    padding: 10px;
  }

  .user-profile img {
    width: 40px;
    height: 40px;
  }
}

